button,
form,
input,
.change-state {
  margin: 5px;
}

#fire-gif {
  width: 40px
}

#logo-gif {
  width: 100px
}

.portfolio-link {
  position: static;
  top: 0;
  margin-top: -18px;
  margin-bottom: -12px
}

.rotateImg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotateImgNeg90 {
  -webkit-transform:rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


@media screen and (max-width: 375px) { 

  .portfolio-link {
    font-size: 12px
  }



}